# 忽略系统文件
.DS_Store
Thumbs.db

# 忽略 Obsidian 配置文件
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/graph.json
.obsidian/starred.json

# 忽略临时文件
*.tmp
*.log

# 忽略依赖目录
node_modules/
.vitepress/dist/
.vitepress/cache/

# 忽略环境变量
.env
.env.local

# 忽略编辑器配置
.vscode/
.idea/
